{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% set line_admin = field_description.admin.show.lines.associationadmin %}
{% set fields = line_admin.show.elements %}


{% block field %}

    <div class="blast-show-collection" data-field-name="{{ field_description.name }}">


        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">{{ 'sil.manufacturing.bom.show.label.lines'|trans }}</h4>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'sil.manufacturing.bom_line.show.label.stock_item'|trans }}</th>
                        <th>{{ 'sil.manufacturing.bom_line.show.label.srcLocation'|trans }}</th>
                        <th>{{ 'sil.manufacturing.bom_line.show.label.qty'|trans }}</th>
                    </tr>
                </thead>
                <tbody>

                    {% for line in value %}
                        <tr class="sonata-ba-view-container">
                            <td>{{ line.stockItem.name }}</td>
                            <td>{{ line.srcLocation.name }}</td>
                            <td>{{ line.qty }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
