<p style="color: #EEE">
    {{ 'sil.stock.movement.show.label.movement'|trans}}
    <strong>{{ object.category.name }}</strong> {{ object.code }} |
   {{ 'sil.stock.operation.show.label.location_from'|trans|lower}} <strong>{{ object.srcLocation.code }}</strong>
   {{ 'sil.stock.operation.show.label.location_to'|trans|lower}}  <strong>{{ object.destLocation.code }}</strong>
</p>