{# ##################################################################################### #}
{#                                                                                       #}
{#     MACRO menu                                                                        #}
{#                                                                                       #}
{#     Displays a full menu with its toggleable children                                 #}
{#                                                                                       #}
{# ##################################################################################### #}

{% macro menu(root) %}

    {% import _self as _menu %}

    {% if root is iterable %}

        {% for label, node in root %}
            {{ _menu.item(node, label, loop.first, loop.last) }}
        {% endfor %}

    {% else %}

        {% for label, node in root.children %}
            {{ _menu.item(node, label, loop.first, loop.last) }}
        {% endfor %}

    {% endif %}

{% endmacro %}

{# ##################################################################################### #}
{#                                                                                       #}
{#     MACRO item                                                                        #}
{#                                                                                       #}
{#     Displays a menu item                                                              #}
{#                                                                                       #}
{# ##################################################################################### #}

{% macro item(node, label, isFirst, isLast) %}

    {% import _self as _menu %}

    {% if node.children %}
        {{ _menu.item_nested(node, label, isFirst, isLast) }}
    {% else %}
        {{ _menu.item_simple(node, label, isFirst, isLast) }}
    {% endif %}

{% endmacro %}

{# ##################################################################################### #}
{#                                                                                       #}
{#     MACRO item_simple                                                                 #}
{#                                                                                       #}
{#     Displays a simple menu item (without children)                                    #}
{#                                                                                       #}
{# ##################################################################################### #}

{% macro item_simple(node, label, isFirst, isLast) %}

    <a class="simple item {{isFirst ? 'first'}} {{isLast ? 'last'}}" {% if node.route is defined and node.route is not null %} href="{{ path(node.route) }}" {% endif %}>
        <i class="icon {{ node.icon }}"></i>
        {{ label|trans }}
    </a>

{% endmacro %}

{# ##################################################################################### #}
{#                                                                                       #}
{#     MACRO item_nested                                                                 #}
{#                                                                                       #}
{#     Displays a nested menu item (with children)                                       #}
{#                                                                                       #}
{# ##################################################################################### #}

{% macro item_nested(node, label, isFirst, isLast) %}

    {% import _self as _menu %}

    <div class="item {{isFirst ? 'first'}}">

        <a class="title">
            <i class="dropdown icon"></i>
            <div class="header">
                <i class="icon {{ node.icon }}"></i>
                <strong>{{ label|trans }}</strong>
            </div>
        </a>
        <div class="content menu">
            {% for label, item in node.children %}
                {{  _menu.item(item, label, loop.first, loop.last) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}
