{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% set movement_admin = field_description.admin.show.elements.movements.associationadmin %}
{% set fields = movement_admin.show.elements %}


{% block field %}

    <div class="blast-show-collection" data-field-name="{{ field_description.name }}">


        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">{{ 'sil.stock.operation.show.label.movements'|trans }}</h4>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'sil.stock.movement.show.label.code'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.stock_item'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.batch'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.location_from'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.location_to'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.qty'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.reserved_qty'|trans }}</th>
                        <th>{{ 'sil.stock.movement.show.label.state'|trans }}</th>
                    </tr>   
                </thead>
                <tbody>

                    {% for movement in value %}
                        <tr class="sonata-ba-view-container">
                            <td>{{ movement.code}}</td>
                            <td>{{ movement.stockItem.name }}</td>
                            <td>{{ movement.batch ? movement.batch.code : 'N/A' }}</td>
                            <td>{{ movement.srcLocation.name }}</td>
                            <td>{{ movement.destLocation.name }}</td>
                            <td>{{ movement.qty }}</td>
                            {% if not movement.isDone()  %}
                                <td>{{ movement_admin.getReservedQty(movement) }}</td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                            <td>{% include('SilStockBundle:Field:_progress_state_badge.html.twig') with {'value': movement.state} %}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}