
{% extends 'SilMediaBundle:CRUD:edit.html.twig' %}

{# add the send button to update form #}
{% block sonata_form_actions %}
    {{ parent() }}
    {% if admin.id(object) is not null %}
        {% if object.sent is defined and not object.sent %}
            <a class="btn btn-info" href="{{ admin.generateObjectUrl('send', object) }}" type="submit"><i class="fa fa-paper-plane"></i> {{ 'Send'|trans({}, 'SilEmailBundle') }}</a>
        {% endif %}
        <a class="btn btn-info" href="{{ admin.generateObjectUrl('duplicate', object) }}"><i class="fa fa-files-o"></i> {{ 'Duplicate'|trans({}, 'SilEmailBundle') }}</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BlastUtilsBundle:Form:tinymce_init.html.twig' %}
    <script type="text/javascript" src="{{ asset('bundles/silemail/js/main.js') }}"></script>
{% endblock %}

{% block dropzone_template %}
    {% include 'SilEmailBundle:dropzone:dropzone_template.mustache.twig' %}
{% endblock %}
