{#

This file is part of the Sonata package.

(c) Baptiste SIMON <beta@e-glop.net>
(c) Libre Informatique [http://www.libre-informatique.fr/]

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <a class="email-link" href="#">{{ value }}</a>
    <form method="GET" action="{{ path('admin_sil_email_email_create') }}" id="send-email-form">
        <input type="hidden" name="force_user" value="1">
        <input type="hidden" name="recipients[]" value="{{ value }}">
    </form>
    {% if ( object.emailNpai ) %}
        <span class="label label-danger">{{ 'sil.label.npai'|trans }}</span>
    {% endif %}
    {% if ( object.emailNoNewsletter ) %}
        <span class="label label-danger">{{ 'sil.label.email_no_newsletter'|trans }}</span>
    {% endif %}
{% endblock %}
