
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.tracking %}
        <div class="tracking">
            <div class="row">
                <div class="stats">
                    <p class="stat_label">{{ admin.getLabelTranslatorStrategy().getLabel('Read receipts', 'tracking', 'label')|trans() }}</p>
                    <canvas id="receipts_loader"></canvas>
                </div>
                <div class="stats">
                    <p class="stat_label">{{ admin.getLabelTranslatorStrategy().getLabel('Links clicked', 'tracking', 'label')|trans() }}</p>
                    <canvas id="links_loader"></canvas>
                </div>
            </div>
            <div class="row link_row" id="most_clicked">
                <p class="stat_label">{{ admin.getLabelTranslatorStrategy().getLabel('Most clicked link:', 'tracking', 'label')|trans() }} </p>
            </div>
            <div class="row link_row" id="least_clicked">
                <p class="stat_label">{{ admin.getLabelTranslatorStrategy().getLabel('Least clicked link:', 'tracking', 'label')|trans() }}</p>
            </div>
        </div>
    {% else %}
        <p>{{  admin.getLabelTranslatorStrategy().getLabel('not_enabled', 'tracking', 'label')|trans() }}</p>
    {% endif %}

    <div class="js-i18n" data-source="no-links-clicked" data-target="{{ 'No links clicked'|trans() }}"></div>
{% endblock %}
