
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.tracking %}
        <div class="tracking">
            <div class="row">
                <div class="stats">
                    <p class="stat_label">{{ admin.getLabelTranslatorStrategy().setFix('email', true).getLabel('Read receipts')|trans() }}</p>
                    <canvas id="receipts_loader"></canvas>
                </div>
                <div class="stats">
                    <p class="stat_label">{{ admin.getLabelTranslatorStrategy().setFix('email', true).getLabel('Links clicked')|trans() }}</p>
                    <canvas id="links_loader"></canvas>
                </div>
            </div>  
            <div class="row link_row" id="most_clicked">
                <p class="stat_label">{{ admin.getLabelTranslatorStrategy().setFix('email', true).getLabel('Most clicked link:')|trans() }} </p>
            </div>
            <div class="row link_row" id="least_clicked">
                <p class="stat_label">{{ admin.getLabelTranslatorStrategy().setFix('email', true).getLabel('Least clicked link:')|trans() }}</p>
            </div>
        </div>
    {% else %}
        <p>{{  admin.getLabelTranslatorStrategy().setFix('email', true).getLabel('Tracking is not enabled for this email')|trans() }}</p>
    {% endif %}
    
    <div class="js-i18n" data-source="no-links-clicked" data-target="{{ 'No links clicked'|trans() }}"></div>
{% endblock %}
