{% extends '@Platform/Views/Show/show.html.twig' %}

{% block page_actions_content %}
    <div class="ui right floated">
        <div class="ui labeled icon top left dropdown button primary">
            <i class="cogs icon"></i>
            <span class="text">{{ 'sil.product.option_type.actions.actions'|trans }}</span>
            <div class="menu">
                <a class="item" href="{{ path('sil_product_option_type_create') }}">
                    <i class="plus circle icon"></i>
                    {{ 'sil.product.option_type.actions.create_new_option_type'|trans }}
                </a>
                <a class="item" href="{{ path('sil_product_option_type_homepage') }}">
                    <i class="list icon"></i>
                    {{ 'sil.product.option_type.actions.list'|trans }}
                </a>
                <div class="ui divider"></div>
                <a class="item" href="{{ path('sil_product_option_type_remove', {'optionTypeId': optionType.id}) }}" data-requires-confirm="data-requires-confirm">
                    <i class="trash icon"></i>
                    {{ 'sil.product.option_type.actions.remove'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock page_actions_content %}

{% block page_header_icon %}archive{% endblock page_header_icon %}

{% block page_header_title %}
    {{ 'sil.product.option_type.show.page_header.title'|trans }}
{% endblock page_header_title %}

{% block page_header_description %}
    {{ optionType.name|raw }}
{% endblock page_header_description %}

{% block page_content %}

    <div class="ui grid">
        <div class="ui eight wide column">

            {{ blast_widget_ajax_card('sil.product.option_type.show.group.general.title'|trans, optionType, [
                {
                    'name': 'name',
                    'label': 'sil.product.option_type.show.group.general.fields.name'|trans
                }
            ], form.general) }}

        </div>

        <div class="ui eight wide column">

            <div class="ui clearing segment">
                <h4 class="ui header">
                    {{ 'sil.product.option_type.show.group.options.title'|trans }}
                    <a class="ui green image label right floated">
                        {{ 'sil.product.option_type.show.group.options.badge_total'|trans }}
                        <div class="detail">{{ optionType.options|length }}</div>
                    </a>
                </h4>
                <div class="ui divider"></div>

                <table class="ui single line striped small table">

                    <thead>
                        <tr>
                            <th class="center aligned">
                                {{ 'sil.product.option_type.show.group.options.fields.value'|trans }}
                            </th>
                            <th class="center aligned" width="10%">
                                {{ 'sil.product.option_type.show.group.options.fields.usedCount'|trans }}
                            </th>
                            <th class="center aligned" width="5%">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for option in optionType.options %}
                            <tr>
                                <td>
                                    {{ option.value }}
                                </td>
                                <td>
                                    {% set usage = option.productVariants|length %}
                                    <a class="ui circular {{ usage == 0 ? 'grey' : 'green' }} label">
                                        {{ usage }}
                                    </a>
                                </td>
                                <td>
                                    {{ blast_widget_field('link', {
                                        label: 'Voir',
                                        class: 'button mini primary',
                                        icon: 'eye',
                                        href: path('sil_product_option_show', {'optionId': option.id})
                                    }) }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="100%" class="center aligned">
                                    {{ 'sil.product.option_type.show.group.options.empty'|trans }}
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="100%" class="center aligned">
                                <a class="ui button green" href="{{ path('sil_product_option_create', {'optionTypeId': optionType.id}) }}">
                                    <i class="plus icon"></i>
                                    {{ 'sil.product.option_type.actions.create_new_option_for_this_type'|trans }}
                                </a>
                            </th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>

{% endblock page_content %}
