
{% set speciesAdminLibrinfo = admin_pool.getAdminByAdminCode('librinfo_varieties.admin.species') %}

{% if object.isStrain %}
    <a class="navbar-brand" href="{{ speciesAdminLibrinfo.generateObjectUrl('show', object.species) }}">
        {{ admin.toString(object.species) }}
    </a>
    <span class="navbar-brand">/</span>
    <a class="navbar-brand" href="{{ admin.generateObjectUrl('show', object.parent) }}">
        {{ admin.toString(object.parent) }}
    </a>
    <span class="navbar-brand">/</span>
    <a class="navbar-brand" href="{{ admin.generateObjectUrl('show', object) }}">
        {{ 'Strain'|trans() }}: {{ admin.toString(object) }}
    </a>
{% else %}
    <a class="navbar-brand" href="{{ speciesAdminLibrinfo.generateObjectUrl('show', object.species) }}">
        {{ admin.toString(object.species) }}
    </a>
    <span class="navbar-brand">/</span>
    <a class="navbar-brand" href="{{ admin.generateObjectUrl('show', object) }}">
        {{ admin.label|trans() }}: {{ admin.toString(object) }}
    </a>
{% endif %}
