{% extends '@BlastUI/Layout/empty_layout.html.twig' %}

{# #################################################################################### #}
{#     STYLESHEETS                                                                      #}
{# #################################################################################### #}

{% block stylesheets %}
    {{ parent() }}

    {# ################################################################################ #}
    {#     DEPENDENCIES                                                                 #}
    {# ################################################################################ #}

{% endblock %}

{% block body_class %}pushable{% endblock body_class %}

{% block body %}

    {# ################################################################################ #}
    {#     SIDE BAR                                                                     #}
    {# ################################################################################ #}

    {% use '@BlastUI/Layout/Blocks/side-bar.html.twig' %}

    {{ block('side_bar') }}

    {# ################################################################################ #}
    {#     TOP BAR                                                                      #}
    {# ################################################################################ #}

    {% use '@BlastUI/Layout/Blocks/top-bar.html.twig' %}

    {{ block('top_bar') }}

    {# ################################################################################ #}
    {#     FLASHES                                                                      #}
    {# ################################################################################ #}

    {% use '@BlastUI/Layout/Blocks/flashes.html.twig' %}
    {% use '@BlastUI/Layout/Blocks/flash_message.html.twig' with flash_message as flash_message_template %}

    {{ block('flashes') }}

    <div class="ui global-flash-container" data-template="{{ block('flash_message_template')|e('html_attr') }}"></div>

    {# ################################################################################ #}
    {#     PAGE PUSHER                                                                  #}
    {# ################################################################################ #}

    <div class="pusher">
        <div id="content" class="full height">
            <div class="ui stackable very basic segment">

                {# #################################################################### #}
                {#     PAGE CONTENT                                                     #}
                {# #################################################################### #}

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

    {# ################################################################################ #}
    {#     MODALS                                                                       #}
    {# ################################################################################ #}

    {% block modals %}
        {% include '@BlastUI/Widget/Modal/confirmation.html.twig' %}
    {% endblock %}

{% endblock body %}

{# #################################################################################### #}
{#     JAVASCRIPTS                                                                      #}
{# #################################################################################### #}

{% block javascripts %}
    {{ parent() }}

    {# ################################################################################ #}
    {#     DEPENDENCIES                                                                 #}
    {# ################################################################################ #}

    {#
    <script src="/dep/jquery-address/src/jquery.address.js"></script>
    #}

    {% javascripts '@BlastUIBundle/Resources/public/js/libs/*' output = 'js/libs.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# ################################################################################ #}
    {#     CUSTOM FEATURES                                                              #}
    {# ################################################################################ #}

    {% javascripts '@BlastUIBundle/Resources/public/js/features/*' output = 'js/custom.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# ################################################################################ #}
    {#     JAVASCRIPT TRANSLATIONS                                                      #}
    {# ################################################################################ #}

    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script>
        Translator.locale = '{{app.request.locale[:2]}}';
    </script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages' }) }}?locales={{app.request.locale[:2]}}"></script>

{% endblock %}