
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% for certification in value %}
        <div>
            <div class="box box-primary">
                <table class="table li-plot-certification">
                    <tbody>
                       <tr class="sonata-ba-view-container">
                            <th>
                                {{ 'librinfo.label.certification_type'|trans() }}
                            </th>
                            <td>
                                {{ certification.certificationType.logo|generateImgTag(35, 35) }}
                                {{ certification.certificationType.name }}
                            </td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>
                                {{ 'librinfo.label.certification_body'|trans() }}
                            </th>
                            <td>
                                {{ certification.certifyingBody }}
                            </td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>
                                {{ 'librinfo.label.certification_date'|trans() }}
                            </th>
                            <td>
                                {{ certification.certificationDate ? certification.certificationDate|format_date : '' }}
                            </td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>
                                {{ 'librinfo.label.expiry_date'|trans() }}
                            </th>
                            <td>
                                {{ certification.expiryDate ? certification.expiryDate|format_date : '' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}