<div class="mini ui buttons">
    {% spaceless %}

        {% for action in table.actions %}

            {% set actionPath = '#' %}

            {% if action.options.link is defined %}

                {% set routeParams = [] %}

                {% if action.options.link.parameters is defined %}
                    {% set routeParams = action.options.link.parameters %}
                {% endif %}

                {% set actionPath = blastui_build_path(action.options.link.route, routeParams, item, 'resource') %}
            {% endif %}

            {% if loop.index0 == 0 %}

                <a class="primary mini ui button" href="{{ actionPath }}">
                    <i class="{{ action.icon }} icon"></i>
                    {{ action.label|trans }}
                </a>

            {% else %}

                {% if loop.index0 == 1 %}

                    <div class="secondary mini ui floating dropdown icon button">
                        <i class="dropdown icon"></i>
                        <div class="menu">

                        {% endif %}

                        <a class="item" href="{{ actionPath }}">
                            <i class="{{ action.icon }} icon"></i>
                            {{ action.label|trans }}
                        </a>

                        {% if loop.index0 == loop.last %}

                        </div>
                    </div>

                {% endif %}

            {% endif %}

        {% endfor %}
    {% endspaceless %}
</div>
