{# ##################################################################################### #}
{#    INPUT CLASS                                                                        #}
{# ##################################################################################### #}

{% set fieldClass = 'ui' %}

{% if field.class is defined %}
    {% set fieldClass = 'ui ' ~ field.class %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT ICON                                                                         #}
{# ##################################################################################### #}

{% set fieldIcon = null %}

{% if field.icon is defined %}
    {% set fieldIcon = field.icon %}
    {% if 'button' not in fieldClass %}
        {% set fieldClass = fieldClass ~ ' labeled icon' %}
    {% endif %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT SRC                                                                          #}
{# ##################################################################################### #}

{% set linkHref = '#' %}

{% if field.href is defined %}
    {% set linkHref = field.href %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT ATTR                                                                         #}
{# ##################################################################################### #}

{% set attrs = [] %}

{% if field.attr is defined %}
    {% set attrs = field.attr %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT                                                                              #}
{# ##################################################################################### #}

<a
    href="{{ linkHref }}"
    class="{{ fieldClass }}"
    tabindex="1"
    {% for attr, value in attrs %}{{attr}}="{{value}}" {% endfor %}
>
    {% spaceless %}
        {% if fieldIcon is not null %}
            <i class="{{ fieldIcon }} icon"></i>
        {% endif %}

        {{ field.label }}
    {% endspaceless %}
</a>
