{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field_value %}
    <p class="notes-value">{{ value|nl2br }}</p>
    <a href="#" class="notes-inline-edit" data-object-id="{{ object.id }}" data-field='{{ field_description.name }}' data-url="{{ path('sil_ecommerce.order.inline_edit') }}">{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}</a>    <script type="text/javascript" src="{{ asset('bundles/silecommerce/js/notes_inline_edit.js') }}"></script>
{% endblock %}
