<td width="50%">
    {% include('SilEcommerceBundle:OrderAdmin:_state_label.html.twig') with {'category': 'shipping', 'value': shipment.state} %}
    &nbsp;<strong>{{ shipment.method }}</strong> ({{ getShipmentCost(shipment) }})
    <br>
    <i class="fa fa-globe"></i>&nbsp;{{ shipment.method.zone }}
</td>
<td width="50%">



    {% if sm_can(shipment, 'ship', 'sylius_shipment') %}
        <form action="{{ path('admin_sil_ecommerce_order_updateShipping',{id: object.id}) }}" method="POST" novalidate>
            <input type="hidden" name="_action" value="ship"/>
            <input type="hidden" name="_shipmentId" value="{{ shipment.id }}"/>
            <a href="#" onclick="$(this).closest('form').submit()" class="btn btn-success pull-right confirmable" data-confirm-action="triggerClick">
                {{'sil.ecommerce.order.form.action.ship'|trans}}&nbsp;
                <i class="fa fa-paper-plane"></i>
            </a>
            <div class="input-group">
                <input type="text" name="_tracking" placeholder="Code de suivi..." class="form-control"/>
            </div>
        </form>
    {% endif %}

    {% if shipment.tracking is not empty %}
        <div class="ui segment">
            <strong>
                {{ 'sylius.ui.tracking_code'|trans|upper }}
                :
            </strong>
            {{ shipment.tracking }}
        </div>
    {% endif %}
</td>
