{% set order = object %}

<table id="order-summary" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="sylius-table-column-item">{{ 'librinfo.label.product'|trans }}</th>
            <th class="two wide center aligned sylius-table-column-unit_price">{{ 'sylius.ui.unit_price'|trans }}</th>
            <th class="two wide center aligned sylius-table-column-discounted_unit_price">{{ 'sylius.ui.discounted_unit_price'|trans }}</th>
            <th class="one wide center aligned sylius-table-column-quantity">{{ 'sylius.ui.quantity'|trans }}</th>
            <th class="two wide center aligned sylius-table-column-subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
            <th class="one wide center aligned sylius-table-column-discount">{{ 'sylius.ui.discount'|trans }}</th>
            <th class="one wide center aligned sylius-table-column-tax">{{ 'sylius.ui.tax'|trans }}</th>
            <th class="two wide center aligned sylius-table-column-total">{{ 'sylius.ui.total'|trans }}</th>
            {% if sm_can(object, 'confirm', 'sylius_order') %}
                <th class="two wide center aligned sylius-table-column-total">{{ 'Edit'|trans }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in order.items %}
        {% include 'SilEcommerceBundle:OrderAdmin/Show/Summary:_item.html.twig' %}
    {% endfor %}
    </tbody>
    <tfoot>
    {% include 'SilEcommerceBundle:OrderAdmin/Show/Summary:_totals.html.twig' %}
    </tfoot>
</table>

{% if sm_can(object, 'confirm', 'sylius_order') %}
    <a
        id="add-to-order"
        class="btn btn-primary pull-right"
        href="#"
        data-url="{{ path('admin_librinfo_ecommerce_product_list') }}"
        data-variants-url="{{ path('admin_librinfo_ecommerce_productvariant_list') }}"
        data-add-product-url="{{ path('librinfo_ecommerce.order.add_product') }}"
        data-btn-text="{{ 'Add'|trans }}"
        data-title=" {{ 'Products'|trans }}"
        data-order-id="{{ order.id }}"
    >
        <i class="fa fa-plus-circle"></i>&nbsp;{{ 'Add product'|trans }}
    </a>
{% endif %}

<link rel="stylesheet" href="{{ asset('bundles/librinfoecommerce/css/update-order.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/librinfoecommerce/js/update-order.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/librinfoecommerce/js/update-cart-item.js') }}"></script>
