{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
    {{ 'sil.ecommerce.menu_label.order'|trans() }} #{{ admin.toString(object) }}
</a>
<p class="navbar-text" style="color: #EEE">{{ object.checkoutCompletedAt|format_date }}</p>
<p class="navbar-text" style="color: #EEE">
    {% include('SilEcommerceBundle:OrderAdmin:_state_label.html.twig') with {'category': 'order', 'value': object.state} %}
</p>
<p class="navbar-text" style="color: #EEE">{{ money.convertAndFormat(object.total) }}</p>
<p class="navbar-text" style="color: #EEE">{{ object.currencyCode }}</p>
<p class="navbar-text" style="color: #EEE">{{ flags.fromLocaleCode(object.localeCode) }}{{ object.localeCode|locale }}</p>
<p class="navbar-text" style="color: #EEE">
    {{ 'sil.ecommerce.order.show.label.purchased_from_channel'|trans }}
    <strong>{{ object.channel }}</strong>
</p>
<a href="#">
